# SAP Sunucu URL'si (Örn: http://sap-server:8000)
SAP_HOST=https://sap-demo-server.example.com:443

# SAP İstemci (Client) Numarası (Örn: 100)
SAP_CLIENT=800

# SAP Kullanıcı Adı
SAP_USER=SAP_DEV_USER

# SAP Şifre
SAP_PASSWORD=SecurePassword123!
